<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> <!-- #409EFF -->
    <title>category</title>
</head>
<body>
<div id="app">
    <el-container>
        <el-header style="border-bottom: #409EFF">
            <el-row type="flex" justify="center">
                <el-col :span="12">
                    <el-row :gutter="20">
                        <el-col :span="4">
                            <span style="color:#409EFF;font-size: 30px;height: 40px;">智购</span>
                        </el-col>
                        <el-col :span='inputLength'>
                            <el-input prefix-icon="el-icon-search" placeholder="请输入内容" v-model="keyword" @keyup.native.enter="search" clearable></el-input>
                        </el-col>
                        <el-col :span="2" :offset="6">
                            <el-button type="text">清单</el-button>
                        </el-col>
                        <el-col :span="2">
                            <el-button type="text">排行</el-button>
                        </el-col>
                    </el-row>
                </el-col>
            </el-row>
        </el-header>

        <el-main>
            <el-row type="flex">
                <el-col :span="18" :offset="4">

                    <!-- main content -->

                    <!-- basic info card -->
                    <el-card :body-style="{padding: '20px'}" style="margin-bottom: 50px;">

                        <!-- card header part -->
                        <div slot="header">
                            <span>销量前十的{{ category }}品牌</span>
                            <el-button type="text" style="float: right;padding: 2px">报错</el-button>
                        </div>

                        <!-- card body part -->
                        <div>
                            <el-row>
                                <el-col :span="18">
                                    <div id="topTenBrand" style="width:100%;height:500px;">

                                    </div>
                                </el-col>
                            </el-row>
                        </div>
                    </el-card>
                </el-col>
            </el-row>
        </el-main>
            <!--<el-row type="flex" class="row-bg">-->
                <!--<el-col :xs="6" :sm="6" :md="6" :lg="6" :xl="6">-->
                     <!--品牌店铺/销售数量前十->
                <!--</el-col>-->
            <!--</el-row>-->
            <!--<el-row type="flex" class="row-bg">-->
                <!--<el-col :xs="6" :sm="6" :md="6" :lg="6" :xl="6">-->
                    <!--销量前10的店铺所卖手机的平均价格-->
                <!--</el-col>-->
            <!--</el-row>-->
            <!--<el-row type="flex" class="row-bg">-->
                <!--<el-col :xs="6" :sm="6" :md="6" :lg="6" :xl="6">-->
                    <!--在不同价格的手机数目（1000-1200：多少人次）-->
                <!--</el-col>-->
            <!--</el-row>-->
            <!--<el-row type="flex" class="row-bg">-->
                <!--<el-col :xs="6" :sm="6" :md="6" :lg="6" :xl="6">-->
                    <!--地域相关的-->
                <!--</el-col>-->
            <!--</el-row>-->
            <!--<el-row type="flex" class="row-bg">-->
                <!--<el-col :xs="6" :sm="6" :md="6" :lg="6" :xl="6">-->
                    <!--搜索关键词-->
                <!--</el-col>-->
            <!--</el-row>-->
        <el-footer></el-footer>
    </el-container>
</div>
</body>
<!-- import axios -->
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- import ECharts -->
<script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts.js"></script>
<script>
    let app = new Vue({
        el: '#app',
        data: function() {
            return {
                inputLength: 10,
                headerInputShow: true,
                headerButtonShow: true,
                keyword: '',
                category: '手机'
            }
        },
        methods: {
        },
        computed:{
        }
    })
    let topTenBrand = echarts.init(document.getElementById('topTenBrand'));
    // let dataAxis = ['点', '击', '柱', '子', '或', '者', '两', '指', '在', '触'];
    let data = ''
    axios({
        url: '',
        method: 'POST',
        params:{
            category: ''
        }
            .then(res => {
                data = res.data.data
        })
    })
    let data = [220, 182, 191, 234, 290, 330, 310, 123, 442, 321];
    let yMax = 500;
    let dataShadow = [];

    for (let i = 0; i < data.length; i++) {
        dataShadow.push(yMax);
    }
    let topTenBrandOption = {
        title: {
            text: '特性示例：渐变色 阴影 点击缩放',
            subtext: 'Feature Sample: Gradient Color, Shadow, Click Zoom'
        },
        xAxis: {
            data: dataAxis,
            axisLabel: {
                inside: true,
                textStyle: {
                    color: '#fff'
                }
            },
            axisTick: {
                show: false
            },
            axisLine: {
                show: false
            },
            z: 10
        },
        yAxis: {
            axisLine: {
                show: false
            },
            axisTick: {
                show: false
            },
            axisLabel: {
                textStyle: {
                    color: '#999'
                }
            }
        },
        dataZoom: [
            {
                type: 'inside'
            }
        ],
        series: [
            { // For shadow
                type: 'bar',
                itemStyle: {
                    normal: {color: 'rgba(0,0,0,0.05)'}
                },
                barGap:'-100%',
                barCategoryGap:'40%',
                data: dataShadow,
                animation: false
            },
            {
                type: 'bar',
                itemStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(
                            0, 0, 0, 1,
                            [
                                {offset: 0, color: '#83bff6'},
                                {offset: 0.5, color: '#188df0'},
                                {offset: 1, color: '#188df0'}
                            ]
                        )
                    },
                    emphasis: {
                        color: new echarts.graphic.LinearGradient(
                            0, 0, 0, 1,
                            [
                                {offset: 0, color: '#2378f7'},
                                {offset: 0.7, color: '#2378f7'},
                                {offset: 1, color: '#83bff6'}
                            ]
                        )
                    }
                },
                data: data
            }
        ]
    };

    let zoomSize = 6;
    topTenBrand.on('click', function (params) {
        console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
        topTenBrand.dispatchAction({
            type: 'dataZoom',
            startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
            endValue: dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
        });
    });
    topTenBrand.setOption(topTenBrandOption);
    // Enable data zoom when user click bar.



</script>
</html>