<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> <!-- #409EFF -->
    <title>category</title>
</head>
<body>
<div id="app">
    <el-container>
        <el-header style="border-bottom: #409EFF">
            <el-row type="flex" justify="center">
                <el-col :span="12">
                    <el-row :gutter="20">
                        <el-col :span="4">
                            <span style="color:#409EFF;font-size: 30px;height: 40px;">智购</span>
                        </el-col>
                        <el-col :span='inputLength'>
                            <el-input prefix-icon="el-icon-search" placeholder="请输入内容" v-model="keyword" @keyup.native.enter="search" clearable></el-input>
                        </el-col>
                        <el-col :span="2" :offset="6">
                            <el-button type="text">清单</el-button>
                        </el-col>
                        <el-col :span="2">
                            <el-button type="text">排行</el-button>
                        </el-col>
                    </el-row>
                </el-col>
            </el-row>
        </el-header>

        <el-main>
            <el-row type="flex"  justify="center">
                <el-col :span="18" >

                    <!-- main content -->
                    <!-- 关键词 -->
                    <el-card :body-style="{padding: '20px'}" style="margin-bottom: 50px;" justify="center">

                        <!-- card header part -->
                        <div slot="header">
                            <span>该类别下大家都在关注</span>
                            <el-button type="text" style="float: right;padding: 2px">报错</el-button>
                        </div>

                        <!-- card body part -->
                        <div>
                            <el-row>
                                <el-col :span="24">
                                    <div id="attention" style="width:100%;height:300px;">

                                    </div>
                                </el-col>
                            </el-row>
                        </div>
                    </el-card>


                    <!-- basic info card -->
                    <el-card :body-style="{padding: '20px'}" style="margin-bottom: 50px;">

                        <!-- card header part -->
                        <div slot="header">
                            <span>销量前十的{{ category }}品牌</span>
                            <el-button type="text" style="float: right;padding: 2px">报错</el-button>
                        </div>

                        <!-- card body part -->
                        <div>
                            <el-row>
                                <el-col :span="18">
                                    <div id="topTenBrand" style="width:100%;height:500px;">

                                    </div>
                                </el-col>
                            </el-row>
                        </div>
                    </el-card>

                    <!-- basic info card -->
                    <el-card :body-style="{padding: '20px'}" style="margin-bottom: 50px;">

                        <!-- card header part -->
                        <div slot="header">
                            <span>品牌拥有的商品数</span>
                            <el-button type="text" style="float: right;padding: 2px">报错</el-button>
                        </div>

                        <!-- card body part -->
                        <div>
                            <el-row>
                                <el-col :span="18">
                                    <div id="productNumber" style="width:100%;height:500px;">

                                    </div>
                                </el-col>
                            </el-row>
                        </div>
                    </el-card>

                </el-col>
            </el-row>
        </el-main>

            <!--</el-row>-->
            <!--<el-row type="flex" class="row-bg">-->
                <!--<el-col :xs="6" :sm="6" :md="6" :lg="6" :xl="6">-->
                    <!--销量前10的店铺所卖手机的平均价格-->
                <!--</el-col>-->
            <!--</el-row>-->
            <!--<el-row type="flex" class="row-bg">-->
                <!--<el-col :xs="6" :sm="6" :md="6" :lg="6" :xl="6">-->
                    <!--在不同价格的手机数目（1000-1200：多少人次）-->
                <!--</el-col>-->
            <!--</el-row>-->
            <!--<el-row type="flex" class="row-bg">-->
                <!--<el-col :xs="6" :sm="6" :md="6" :lg="6" :xl="6">-->
                    <!--地域相关的-->
                <!--</el-col>-->
            <!--</el-row>-->

        <el-footer></el-footer>
    </el-container>
</div>
</body>
<!-- import axios -->
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- import ECharts -->
<script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts.js"></script>
<script src="http://data-visual.cn/datav/src/js/echarts/extension/echarts-wordcloud.min.js"></script>
<script th:inline="javascript">
    let app = new Vue({
        el: '#app',
        data: function() {
            return {
                inputLength: 10,
                headerInputShow: true,
                headerButtonShow: true,
                keyword: '',
                category: '手机'
            }
        },
        methods: {
        },
        computed:{
        }
    })

    // 关键词
    let attention = echarts.init(document.getElementById('attention'));
    attentionOption = {
        // title:{
        //     text:"词云图",
        //     link:'https://github.com/ecomfe/echarts-wordcloud',
        //     subtext: 'data-visual.cn',
        //     sublink:'http://data-visual.cn',
        // },
        tooltip: {},
        series: [{
            type: 'wordCloud',
            gridSize: 30,
            sizeRange: [12, 50],
            rotationRange: [0, 0],
            shape: 'rectangle',
            textStyle: {
                normal: {
                    color: function() {
                        return '#409EFF'
                        // return 'rgb(' + [
                        //     Math.round(50+Math.random() * 40),
                        //     Math.round(138+Math.random() * 60),
                        //     Math.round(235+Math.random() * 60)
                        // ].join(',') + ')';
                    }
                },
                emphasis: {
                    shadowBlur: 10,
                    shadowColor: '#999'
                }
            },
            data: [{
                name: '手机',
                value: 10000,
                textStyle: {
                    normal: {
                        color: '#0054b6'
                    },
                    emphasis: {
                        color: '#409EFF'
                    }
                }
            }, {
                name: '全网通',
                value: 6181
            }, {
                name: '双卡',
                value: 4386
            }, {
                name: '64GB',
                value: 4055
            }, {
                name: '4G',
                value: 2467
            }, {
                name: '小米',
                value: 2244
            }, {
                name: '苹果',
                value: 2244
            }, {
                name: '华为',
                value: 2244
            }, {
                name: '电信',
                value: 1112
            }, {
                name: '移动',
                value: 965
            }, {
                name: '联通',
                value: 847
            }, {
                name: '金色',
                value: 582
            }, {
                name: '学生',
                value: 555
            }, {
                name: '老人机',
                value: 550
            }, {
                name: '32GB',
                value: 462
            }, {
                name: '双摄',
                value: 366
            }, {
                name: '指纹',
                value: 360
            }]
        }]
    };
    attention.setOption(attentionOption);


    // 销量前十品牌
    let topTenBrand = echarts.init(document.getElementById('topTenBrand'));
    let dataAxis = ['小米', '华为', 'Apple', 'Vivo', '锤子', '一加', '魅族', 'Oppo', 'HTC', '索尼'];
    // let data = ''
    // axios({
    //     url: '',
    //     method: 'POST',
    //     params:{
    //         category: ''
    //     }
    //         .then(res => {
    //             data = res.data.data
    //     })
    // })
    let data = [5200000, 1820000, 1910000, 2340000, 2900000, 3300000, 310000, 123000, 442000, 321000];
    let yMax = 6000000;
    let dataShadow = [];

    for (let i = 0; i < data.length; i++) {
        dataShadow.push(yMax);
    }
    let topTenBrandOption = {
        // title: {
        //     text: '',
        //     subtext: ''
        // },
        xAxis: {
            data: dataAxis,
            axisLabel: {
                inside: true,
                textStyle: {
                    color: '#fff'
                }
            },
            axisTick: {
                show: false
            },
            axisLine: {
                show: false
            },
            z: 10
        },
        yAxis: {
            axisLine: {
                show: false
            },
            axisTick: {
                show: false
            },
            axisLabel: {
                textStyle: {
                    color: '#999'
                }
            }
        },
        dataZoom: [
            {
                type: 'inside'
            }
        ],
        series: [
            { // For shadow
                type: 'bar',
                itemStyle: {
                    normal: {color: 'rgba(0,0,0,0.0)'}
                },
                barGap:'-100%',
                barCategoryGap:'40%',
                data: dataShadow,
                animation: false
            },
            {
                type: 'bar',
                itemStyle: {
                    normal: {
                        color: new echarts.graphic.LinearGradient(
                            0, 0, 0.6, 1,
                            [
                                {offset: 0, color: '#409EFF'},
                                {offset: 0.5, color: '#188df0'},
                                {offset: 1, color: '#354eb0'}
                            ]
                        )
                    },
                    emphasis: {
                        color: new echarts.graphic.LinearGradient(
                            0, 0, 0, 1,
                            [
                                {offset: 0, color: '#409EFF'},
                                {offset: 0.7, color: '#409EFF'},
                                {offset: 1, color: '#409EFF'}
                            ]
                        )
                    }
                },
                data: data
            }
        ]
    };

    let zoomSize = 6;
    topTenBrand.on('click', function (params) {
        console.log(dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)]);
        topTenBrand.dispatchAction({
            type: 'dataZoom',
            startValue: dataAxis[Math.max(params.dataIndex - zoomSize / 2, 0)],
            endValue: dataAxis[Math.min(params.dataIndex + zoomSize / 2, data.length - 1)]
        });
    });
    topTenBrand.setOption(topTenBrandOption);
    // Enable data zoom when user click bar.


    // 品牌下商品数
    let productNumber = echarts.init(document.getElementById('productNumber'));
    function createNodes(count) {
        let nodes = [];
        for (let i = 0; i < count; i++) {
            nodes.push({
                id: i
            });
        }
        return nodes;
    }
    function createEdges(count) {
        let edges = [];
        for (let i = 0; i < count; i++) {
            edges.push([i, (i + 1) % count]);
        }
        return edges;
    }

    let numbers = [];
    for (let i = 0; i < 4;i++) {
        numbers.push({
            nodes: createNodes(i + 2),
            edges: createEdges(i + 2)
        });
    }

    // let numberOption = {
    //     series: numbers.map(function (item, idx) {
    //         return {
    //             type: 'graph',
    //             layout: 'force',
    //             animation: false,
    //             data: item.nodes,
    //             left: (idx % 4) * 25 + '%',
    //             top: Math.floor(idx / 4) * 25 + '%',
    //             width: '25%',
    //             height: '25%',
    //             force: {
    //                 // initLayout: 'circular'
    //                 // gravity: 0
    //                 repulsion: 100,
    //                 edgeLength: 5
    //             },
    //             edges: item.edges.map(function (e) {
    //                 return {
    //                     source: e[0],
    //                     target: e[1]
    //                 };
    //             })
    //         };
    //     })
    // };
    let edges = createEdges(4)
    let numberOption = {
        series: {
            type: 'graph',
            layout: 'force',
            animation: false,
            data: createNodes(4),
            force: {
                repulsion: 100,
                edgeLength: 5
            },
            edges: edges.map(function (e) {
                return {
                    source: e[0],
                    target: e[1]
                };
            })

        }
    }

    productNumber.setOption(numberOption);

</script>
</html>