 <!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../index.css">
</head>
<body>
<div id="app">
    <div class="home">
        <el-container>
            <el-header></el-header>
            <el-main>
                <el-row type="flex" class="row-bg" justify="center">
                    <el-col :xs="6" :sm="6" :md="6" :lg="6" :xl="6">
                        <img src="imgs/logo2.png" width="100%">
                    </el-col>
                </el-row>
                <el-row type="flex" class="row-bg" justify="center">
                    <el-col :xs="24" :sm="24" :md="24" :lg="24" :xl="24">
                        <p style="font-size:20px;color:#999;font-weight:bold">基于大数据的细节分析，公正呈现好与坏，助您更好选购你所需要的</p>
                    </el-col>
                </el-row>
                <el-row type="flex" class="row-bg" justify="center" :gutter="20" >
                    <el-col :xs="2" :sm="2" :md="1" :lg="1" :xl="1" align="middle" style="padding-top: 6px;">
                        <img :src="type" alt=""  width="25px">
                    </el-col>
                    <el-col :xs="16" :sm="16" :md="12" :lg="12" :xl="10" justify="left">
                        <el-input placeholder="请输入内容" prefix-icon="el-icon-search" v-model="keyword" @keyup.native.enter="search"></el-input>
                    </el-col>
                    <el-col :xs="2" :sm="2" :md="1" :lg="1" :xl="1" justify="left">
                        <el-button type="primary" @click="search" :loading="isLoading" icon="el-icon-search" v-loading.fullscreen.lock="fullscreenLoading">搜索</el-button>
                    </el-col>
                </el-row>
                <el-row  type="flex" class="row-bg three-tips" justify="center" align="middle" :gutter="12">
                    <el-col :xs="16" :sm="16" :md="16" :lg="16" :xl="16" >
                        <el-card class="teach" shadow="never" align="middle" >
                            <el-col :xs="6" :sm="6" :md="6" :lg="6" :xl="6">
                                电商平台的商品页面
                            </el-col>
                            <el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">
                                <img src="imgs/array.png" height="20" style="margin-bottom: -5px">
                            </el-col>
                            <el-col :xs="10" :sm="10" :md="10" :lg="10" :xl="10">
                                复制链接、商品名、类别名进入搜索框
                            </el-col>
                            <el-col :xs="1" :sm="1" :md="1" :lg="1" :xl="1">
                                <img src="imgs/array.png" height="20" style="margin-bottom: -5px">
                            </el-col>
                            <el-col :xs="6" :sm="6" :md="6" :lg="6" :xl="6">
                                搜索并等待商品报告
                            </el-col>
                        </el-card>
                    </el-col>
                </el-row>
                <el-row type="flex" class="row-bg three-tips"  justify="space-around" :gutter="10">
                    <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="6">
                        <el-card class="box-card" justify="left" shadow="hover">
                            <div slot="header" class="clearfix">
                                <span>搜索最多电商</span>
                                <img src="imgs/smile.png" style="height:20px;margin-bottom: -3px;">
                            </div>
                            <div class="text item">
                                <img src="../imgs/jd.png" alt=""  style="height:20px;margin-bottom: -5px;">
                                京东
                            </div>
                            <!--<div v-for="o in 4" :key="o" class="text item">-->
                                <!--{{'列表内容 ' + o }}-->
                            <!--</div>-->
                        </el-card>
                    </el-col>
                    <el-col :xs="24" :sm="24" :md="8" :lg="8" :xl="6">
                        <el-card class="box-card" justify="left" shadow="hover">
                            <div slot="header" class="clearfix">
                                <span>最新搜索商品</span>
                                <img src="imgs/search.png" style="height:20px;margin-bottom: -3px;">
                            </div>
                            <div class="text item">
                                <img src="imgs/selected.png" style="height:20px;margin-bottom: -3px;">三星S8
                            </div>
                            <div class="text item">
                                <img src="imgs/selected.png" style="height:20px;margin-bottom: -3px;">IphoneX
                            </div>
                            <div class="text item">
                                <img src="imgs/selected.png" style="height:20px;margin-bottom: -3px;">小米6
                            </div>
                            <!--<div v-for="o in 4" :key="o" class="text item">-->
                                <!--{{'列表内容 ' + o }}-->
                            <!--</div>-->
                        </el-card>
                    </el-col>
                    <el-col  :xs="24" :sm="24" :md="8" :lg="8" :xl="6">
                        <el-card class="box-card" justify="left" shadow="hover">
                            <div slot="header" class="clearfix">
                                <span>最热商品类别</span>
                                <img src="imgs/fire.png" style="height:20px;margin-bottom: -3px;">
                            </div>
                            <div class="text item">
                                <img src="imgs/discount.png" style="height:15px;margin:0 5px -3px 0">手机
                            </div>
                            <div class="text item">
                                <img src="imgs/discount.png" style="height:15px;margin:0 5px -3px 0">电脑
                            </div>

                        </el-card>
                    </el-col>
                </el-row>
            </el-main>
            <el-footer></el-footer>
        </el-container>
    </div>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: function() {
            return {
                keyword: '',
                searchButtonContent: '搜索',
                isLoading: false,
                fullscreenLoading: false
            }
        },
        methods: {
            openFullScreen() {
                this.fullscreenLoading = true;
                setTimeout(() => {
                    this.fullscreenLoading = false;
                }, 2000);
            },
            search: function() {
                this.fullscreenLoading = true;
                window.location.href = 'search?keyword=' + app.keyword;
                setTimeout(() => {
                    this.fullscreenLoading = false;
                }, 2000);
            }
            // $.ajax({
            //     url: '/search',
            //     type:'POST',
            //     dataType:'text',
            //     data: {
            //         "keyword": app.keyword
            //     },
            //     beforeSend: function () {
            //         app.isLoading = true;
            //         console.log('searching')
            //     },
            //     success: function (data, status) {
            //         console.log(data);
            //         app.isLoading = false
            //     },
            //     error: function (data) {
            //
            //         app.isLoading = false
            //     }
            // });
        },
        computed: {
            type () {
                if (this.keyword.search('jd') !== -1) {
                    return 'imgs/jd.png'
                }else if (this.keyword.search('taobao') !== -1) {
                    return 'imgs/taobao.png'
                }else if (this.keyword.search('tmall') !== -1) {
                    return 'imgs/tmall.png'
                }else {
                    return 'imgs/default.png'
                }
            }
        }
    })
</script>
</html>