<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> <!-- #EC6C24 -->
</head>
<body>
<div id="app">
    <el-container>
        <el-header ></el-header>
        <el-main>
            <el-row type="flex" class="row-bg" justify="center">
                <el-col :span="10">
                    <!--<img src="imgs/logo.png" height="300">-->
                </el-col>
            </el-row>
            <el-row type="flex" class="row-bg" justify="center" :gutter="20">
                <el-col :span="10">
                    <el-input placeholder="请输入内容" prefix-icon="el-icon-search" v-model="keyword" @keyup.native.enter="search"></el-input>
                </el-col>
                <el-col :span="1">
                    <el-button type="primary" @click="search" :loading="isLoading" icon="el-icon-search" >搜索</el-button>
                </el-col>
            </el-row>
        </el-main>
        <el-footer></el-footer>
    </el-container>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: function() {
            return {
                keyword: '',
                searchButtonContent: '搜索',
                isLoading: false
            }
        },
        methods: {
            search: function() {
                if(app.keyword != null){
                    window.location.href = 'search?keyword=' + app.keyword;
                }
                // $.ajax({
                //     url: '/search',
                //     type:'POST',
                //     dataType:'text',
                //     data: {
                //         "keyword": app.keyword
                //     },
                //     beforeSend: function () {
                //         app.isLoading = true;
                //         console.log('searching')
                //     },
                //     success: function (data, status) {
                //         console.log(data);
                //         app.isLoading = false
                //     },
                //     error: function (data) {
                //
                //         app.isLoading = false
                //     }
                // });
            }
        }
    })
</script>
</html>