<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> <!-- #409EFF -->
    <title>item</title>
</head>
<body>
<div id="app">
    <el-container>
        <el-header style="border-bottom: #409EFF">
            <el-row type="flex" justify="center">
                <el-col :span="12">
                    <el-row :gutter="20">
                        <el-col :span="4">
                            <span style="color:#409EFF;font-size: 30px;height: 40px;">智购</span>
                        </el-col>
                        <el-col :span='inputLength'>
                            <el-input prefix-icon="el-icon-search" placeholder="请输入内容" v-model="keyword" @keyup.native.enter="search" clearable></el-input>
                        </el-col>
                        <el-col :span="2" :offset="6">
                            <el-button type="text">清单</el-button>
                        </el-col>
                        <el-col :span="2">
                            <el-button type="text">排行</el-button>
                        </el-col>
                    </el-row>
                </el-col>
            </el-row>
        </el-header>
        <el-main>
            <!--<el-row>-->
                <!--<el-col :span="12" :offset="4">-->
                    <!--&lt;!&ndash; greeting words &ndash;&gt;-->
                    <!--<h2>{{greeting}}</h2>-->
                <!--</el-col>-->
            <!--</el-row>-->
            <el-row type="flex">
                <el-col :span="12" :offset="4">

                    <!-- main content -->

                    <!-- basic info card -->
                    <el-card :body-style="{padding: '20px'}" style="margin-bottom: 50px;">

                        <!-- card header part -->
                        <div slot="header">
                            <span>{{itemInfo.name.cn}} <span style="color: #909399">（{{itemInfo.name.en}}）</span></span>
                            <!--<img style="float: right; height: 22px" :src="'imgs/markets/' + sessionInfo.sourceMarket + '/logo.png'">-->
                            <!--<span style="float: right; height: 22px">来源：</span>-->
                            <el-button type="text" style="float: right;padding: 2px">报错</el-button>
                        </div>

                        <!-- card body part -->
                        <div>
                            <el-row>
                                <el-col :span="10">
                                    <el-carousel :interval="10000" indicator-position="outside">
                                        <el-carousel-item v-for="img in itemInfo.basicImages" :key="img" style="text-align: center"  >
                                            <img :src='"imgs/items/" + itemInfo.name.code + "/basicImgs/" + img' width="300">
                                        </el-carousel-item>
                                    </el-carousel>
                                </el-col>
                                <el-col :span="12" :offset="1">
                                    <h2 style="color: #ff9900"> ￥{{sessionInfo.price}}</h2>
                                    <div id="priceChart" style="width: 400px; height: 250px"></div>
                                </el-col>
                            </el-row>
                        </div>
                    </el-card>

                    <!-- product based analyse card -->
                    <el-card :body-style="{padding: '20px'}" style="margin-bottom: 50px;">
                        <div slot="header">
                            <span>基本类别的分析 <span style="color: #909399">（价格区间：5000 ~ 9000）</span></span>
                        </div>
                        <div>
                        <el-row type="flex" style="align-items: center">
                            <el-col :span="4">
                                <div style="border-right: 1px solid #DCDFE6; height: 150px; text-align: center;">
                                    <br />
                                    <span style="text-align: center;">归一化销量排位</span>
                                    <h2 style="text-align: center; vertical-align: center; color:#409EFF; font-size: xx-large ">#4 <i class="el-icon-caret-top" style="color: #67C23A"></i></h2>
                                    <!-- #F44336 #F44336 #FFEB3B #409EFF-->
                                </div>
                            </el-col>
                            <el-col :span="8">
                                <div id="totalPriceChart" style="height: 300px; width: 350px"></div>
                            </el-col>
                            <el-col :span="4">
                                <p style="font-size: 50px; font-weight: lighter; color: #909399; text-align: center">+</p>
                            </el-col>
                            <el-col :span="8">
                                <div id="latestPriceChart" style="height: 300px; width: 200px;"></div>
                            </el-col>
                        </el-row>
                        </div>
                    </el-card>

                    <!-- detail info card -->
                    <el-card :body-style="{padding: '20px'}" style="margin-bottom: 50px;">
                        <div slot="header">
                            <span>基本商品的分析</span>
                        </div>
                        <div>
                            <p style="color: #606266; margin-top: 0">关键特性</p>
                            <el-row style="border-bottom: 1px solid #DCDFE6; flex-direction: column; flex-wrap: wrap; height: 150px; padding-left: 20px" type="flex">
                                <el-col :span="12" v-for="(feature, index) in itemInfo.keyFeatures" :key="feature">
                                    <p  style="margin-bottom: 0">{{index + 1}}. {{feature}}</p>
                                </el-col>
                            </el-row>
                            <p style="color: #606266;">优缺点</p>
                            <el-row style="padding-left: 20px" type="flex">
                                <el-col :span="12">
                                    <p v-for="pro in itemInfo.pros" :key="pro"><i class="el-icon-check" style="color: #67C23A"></i> {{pro}}</p>
                                </el-col>
                                <el-col :span="12">
                                    <p v-for="con in itemInfo.cons" :key="con"><i class="el-icon-close" style="color: #F56C6C"></i> {{con}}</p>
                                </el-col>
                            </el-row>
                        </div>
                    </el-card>

                    <!-- brand info card -->
                    <el-card :body-style="{padding: '20px'}" style="margin-bottom: 50px;">
                        <div slot="header">
                            <span>基于品牌的分析</span>
                        </div>
                        <el-row type="flex"  style="align-items: center; padding-bottom: 20px; margin-bottom: 20px">
                            <el-col :span="6" :offset="1" style="vertical-align: center;">
                                <img :src="'imgs/brand/' + itemInfo.brand.code + '/logo.svg'" width="200px"/>
                            </el-col>
                            <el-col :span="19" style="padding-left: 50px">
                                <h1>{{itemInfo.brand.cn}} （{{itemInfo.brand.en}}）</h1>
                                <p>{{itemInfo.brand.introduction}}</p>
                                <p style="text-align: right; font-style: italic">—— 维基百科</p>
                                <p>客户总体评分：</p>
                                <el-rate
                                        v-model="itemInfo.brand.rate"
                                        disabled
                                        show-score
                                        text-color="#ff9900"
                                        score-template="{value}"
                                        style="padding-left: 100px">
                                </el-rate>
                            </el-col>
                        </el-row>
                    </el-card>


                    <!-- detail info card -->
                    <el-card :body-style="{padding: '20px'}" v-loading="loading"  element-loading-text="正在抓取并分析评论...">
                        <div slot="header">
                            <span>基本评论的分析</span>
                        </div>
                        <div style="margin-left: 10px">
                            <el-row type="flex" style="align-items: center; padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #DCDFE6" v-for="comment in itemInfo.comments" :key="comment.feature">
                                <el-col :span="6">
                                    <p>{{comment.component}}：</p>
                                    <p style="color: #409EFF;">{{comment.feature}}</p>
                                </el-col>
                                <el-col :span="18">
                                    <el-collapse v-model="commentActiveNames">
                                        <el-collapse-item v-for="(content, index) in comment.contents" :title="content.title + '...'"  :name="index" :key="content.all">
                                            <div>{{content.all}}</div>
                                        </el-collapse-item>
                                    </el-collapse>
                                </el-col>
                            </el-row>
                            <el-button type="text" style="float: right; margin: 10px">查看更多</el-button>
                        </div>
                    </el-card>
                    <!-- end main content -->
                </el-col>
                <el-col :span="7" :offset="1">
                    <el-card>
                        <div slot="header">
                            <span>需求清单</span>
                        </div>
                        <div>
                           <!--<el-row type="flex" style="flex-direction: row; flex-wrap: wrap;">-->
                               <!--<el-tag v-for="tag in fulfilledTags"-->
                                       <!--:key="tag.name"-->
                                       <!--closable-->
                                       <!--:type="success"></el-tag>-->
                           <!--</el-row>-->
                            <!--<el-row type="flex"-->
                                    <!--justify="space-around"-->
                                    <!--v-for="tag in unfulfilledTags"-->
                                    <!--:key="tag.name"></el-row>-->
                            <el-collapse v-model="activeDemandBlock">
                                <el-collapse-item v-for="demand in demands">
                                    <div slot="title">
                                        {{demand.name}}：
                                        <el-tag v-for="tag in demand.tags"
                                                :key="tag.name"
                                                closable></el-tag>
                                    </div>
                                </el-collapse-item>
                            </el-collapse>
                        </div>
                    </el-card>
                </el-col>
            </el-row>

        </el-main>
        <el-footer>

        </el-footer>
    </el-container>
</div>
</body>
<!-- import jQuery -->
<script src="jquery-3.3.1.js"></script>
<!-- import axios -->
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- import ECharts -->
<script src="echarts.js"></script>
<script th:inline="javascript">
    var app = new Vue({
        el: '#app',
        data() {
            return {
                keyword: [[${keyword}]],
                inputLength: 10,
                headerInputShow: true,
                headerButtonShow: true,
                commentActiveNames: [],
                sessionInfo: {
                    sourceMarket: 'jd',
                    price: 6999
                },
                fulfilledTags: [
                    ''
                ],
                loading: true,
                itemInfo: {
                    sellerMarkets: ['jd'],
                    prices: [
                        ["06-05",7999]
                    ],
                    latestPrices:[
                        ["06-05",0]
                    ],
                    keyFeatures: [],
                    pros: [],
                    cons: [],
                    brand: {
                        cn: '',
                        en: '',
                        code: '',
                        introduction: '',
                        rate: 0
                    },
                    name: {
                        cn: '',
                        en: '',
                        code: ''
                    },
                    basicImages: [
                        '5a96a286N0958bd54.jpg',
                        '5a9679d6N7b8d458f.jpg',
                        '5a9679d7N0b3fa77e.jpg',
                        '5a9679d7Nd85ccf33.jpg',
                        '5a9679d7Ne0771423.jpg'
                    ],
                    comments: [
                        {
                            component: '',
                            feature: '',
                            contents: [
                                {
                                    title: '',
                                    all: ''
                                }
                            ]
                        }
                    ]
                },
                greetings: [
                    '我觉得是...',
                    '我猜是这个...',
                    '我想你说的是...',
                    '是这个吗？'
                ]
            }
        },
        computed: {
            greeting () {
                return this.greetings[Math.floor(Math.random() * this.greetings.length)]
            }
        },
        methods: {
            search () {
                if(app.keyword != null){
                    window.location.href = 'search?keyword=' + app.keyword;
                }
            }
        }
    });
    // function sleep(ms) {
    //     return new Promise(resolve => setTimeout(resolve, ms));
    // }

    // async function demo() {
    //     console.log('Taking a break...');
    //     await sleep(20000);
    //     app.loading = false;
    //     console.log('Two second later');
    // }

    // demo();
    //
    // 初始化 EChart 实例
    var totalPriceChart = echarts.init(document.getElementById('totalPriceChart'));

    // 指定图表的配置项和数据
    var totalPriceChartOption = {
        title: {
            text: '历史总销量',
            left: 'center',
            top: 20,
            textStyle: {
                fontWeight: 'normal'
            },
            top: 5
        },

        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },

        visualMap: {
            show: false,
            min: 80,
            max: 600,
            inRange: {
                colorLightness: [0, 1]
            }
        },
        series : [
            {
                name:'总销量',
                type:'pie',
                radius : '75%',
                center: ['50%', '50%'],
                data:[
                    {value:335, name:'iPhone X'},
                    {value:310, name:'Huawei \nMate 10 Pro'},
                    {value:274, name:'Galaxy S9+'},
                    {value:235, name:'iPhone 8'},
                    {value:400, name:'iPhone 8 \nPlus'}
                ].sort(function (a, b) { return a.value - b.value; }),
                roseType: 'radius',
                label: {
                    normal: {
                        textStyle: {
                            color: '#FFF',
                            distance: 2

                        },
                        position: 'inside'
                    }

                },
                labelLine: {
                    normal: {
                        lineStyle: {
                            color: '#000'
                        },
                        smooth: 0.2,
                        length: 10,
                        length2: 20
                    }
                },
                itemStyle: {
                    normal: {
                        color: '#409EFF',
                    }
                },

                animationType: 'scale',
                animationEasing: 'elasticOut',
                animationDelay: function (idx) {
                    return Math.random() * 200;
                }
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    totalPriceChart.setOption(totalPriceChartOption);

    var priceChart = echarts.init(document.getElementById('priceChart'));

    var dateList = app.itemInfo.prices.map(function (item) {
        return item[0];
    });
    var priceList = app.itemInfo.prices.map(function (item) {
        return item[1];
    });

    priceChartOption = {

        // Make gradient line here

        title: {
            left: 'center',
            text: '近期价格走势',
            textStyle: {
                fontWeight: 'normal',

            }
        },
        tooltip: {
            trigger: 'axis'
        },
        xAxis: {
            data: dateList
        },
        yAxis: {
            splitLine: {show: false},
            min: 6000
        },

        series: {
            type: 'line',
            showSymbol: false,
            data: priceList
        }
    };
    priceChart.setOption(priceChartOption);

    var latestPriceChart = echarts.init(document.getElementById('latestPriceChart'));

    var latestDateList = app.itemInfo.latestPrices.map(function (item) {
        return item[0];
    });
    var latestPriceList = app.itemInfo.latestPrices.map(function (item) {
        return item[1];
    });

    latestPriceChartOption = {

        // Make gradient line here

        title: {
            left: 'center',
            text: '近期销量',
            textStyle: {
                fontWeight: 'normal'
            },
            top: 5
        },
        tooltip: {
            trigger: 'axis'
        },
        xAxis: {
            data: latestDateList
        },
        yAxis: {
            splitLine: {show: false},
            min: 0
        },

        series: {
            type: 'line',
            showSymbol: false,
            data: latestPriceList,
            itemStyle: {
                normal: {
                    color: '#409EFF',
                }
            }
        }
    };
    latestPriceChart.setOption(latestPriceChartOption);
</script>
</html>