<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> <!-- #409EFF -->
    <title>item</title>
</head>
<body>
<div id="app">
    <el-container>
        <el-header style="border-bottom: #409EFF">
            <el-row type="flex" justify="center">
                <el-col :span="12">
                    <el-row :gutter="20">
                        <el-col :span="4">
                            <span style="color:#409EFF;font-size: 30px;height: 40px;">智购</span>
                        </el-col>
                        <el-col :span='inputLength'>
                            <el-input prefix-icon="el-icon-search" placeholder="请输入内容" v-model="keyword" @keyup.native.enter="search" clearable></el-input>
                        </el-col>
                        <el-col :span="2" :offset="6">
                            <el-button type="text">清单</el-button>
                        </el-col>
                        <el-col :span="2">
                            <el-button type="text">排行</el-button>
                        </el-col>
                    </el-row>
                </el-col>
            </el-row>
        </el-header>
        <el-main>
            <!--<el-row>-->
                <!--<el-col :span="12" :offset="4">-->
                    <!--&lt;!&ndash; greeting words &ndash;&gt;-->
                    <!--<h2>{{greeting}}</h2>-->
                <!--</el-col>-->
            <!--</el-row>-->
            <el-row type="flex">
                <el-col :span="18" :offset="4">

                    <!-- main content -->

                    <!-- basic info card -->
                    <el-card :body-style="{padding: '20px'}" style="margin-bottom: 50px;">

                        <!-- card header part -->
                        <div slot="header">
                            <!--<span>{{itemInfo.name.cn}}<span style="color: #909399">（{{itemInfo.name.en}}）</span></span>-->
                            <span>{{itemInfo.name.cn}}</span>
                            <!--<img style="float: right; height: 22px" :src="'imgs/markets/' + sessionInfo.sourceMarket + '/logo.png'">-->
                            <!--<span style="float: right; height: 22px">来源：</span>-->
                            <el-button type="text" style="float: right;padding: 2px">报错</el-button>
                        </div>

                        <!-- card body part -->
                        <div>
                            <el-row>
                                <el-col :span="10">
                                    <el-carousel :interval="10000" indicator-position="outside">
                                        <el-carousel-item v-for="img in itemInfo.basicImages" :key="img" style="text-align: center"  >
                                            <img :src='"https://img11.360buyimg.com/n1/s450x450_" + img' width="300">
                                        </el-carousel-item>
                                    </el-carousel>
                                </el-col>
                                <el-col :span="12" :offset="1">
                                    <h2 style="color: #ff9900"> ￥{{sessionInfo.price}}</h2>
                                    <div id="priceChart" style="width: 400px; height: 250px"></div>
                                </el-col>
                            </el-row>
                        </div>
                    </el-card>

                    <!-- product based analyse card -->
                    <el-card :body-style="{padding: '20px'}" style="margin-bottom: 50px;">
                        <div slot="header">
                            <span>基本类别的分析 <span style="color: #909399">（价格区间：{{sessionInfo.price - 0.15 * sessionInfo.price}} ~ {{sessionInfo.price + 0.2 * sessionInfo.price}}）</span></span>
                        </div>
                        <div>
                        <el-row type="flex" style="align-items: center">
                            <el-col :span="4">
                                <div style="border-right: 1px solid #DCDFE6; height: 150px; text-align: center;">
                                    <br />
                                    <span style="text-align: center;">归一化销量排位</span>
                                    <h2 style="text-align: center; vertical-align: center; color:#409EFF; font-size: xx-large ">#{{rank}} <i :class="Math.round(Math.random()) ? 'el-icon-caret-top' : 'el-icon-caret-bottom'" style="color: #67C23A"></i></h2>
                                    <!-- #F44336 #F44336 #FFEB3B #409EFF-->
                                </div>
                            </el-col>
                            <el-col :span="8">
                                <div id="totalPriceChart" style="height: 300px; width: 350px"></div>
                            </el-col>
                            <el-col :span="4">
                                <p style="font-size: 50px; font-weight: lighter; color: #909399; text-align: center">+</p>
                            </el-col>
                            <el-col :span="8">
                                <div id="latestPriceChart" style="height: 300px; width: 200px;"></div>
                            </el-col>
                        </el-row>
                        </div>
                    </el-card>

                    <!-- detail info card -->
                    <el-card :body-style="{padding: '20px'}" style="margin-bottom: 50px;">
                        <div slot="header">
                            <span>基本商品的分析</span>
                        </div>
                        <div>
                            <p style="color: #606266; margin-top: 0">关键特性</p>
                            <el-row style="border-bottom: 1px solid #DCDFE6; flex-direction: column; flex-wrap: wrap; height: 150px; padding-left: 20px" type="flex">
                                <el-col :span="12" v-for="(feature, index) in itemInfo.keyFeatures" :key="feature">
                                    <p  style="margin-bottom: 0">{{index + 1}}. {{feature}}</p>
                                </el-col>
                            </el-row>
                            <p style="color: #606266;">优缺点</p>
                            <el-row style="padding-left: 20px" type="flex">
                                <el-col :span="12">
                                    <p v-for="pro in itemInfo.pros" :key="pro"><i class="el-icon-check" style="color: #67C23A"></i> {{pro}}</p>
                                </el-col>
                                <el-col :span="12">
                                    <p v-for="con in itemInfo.cons" :key="con"><i class="el-icon-close" style="color: #F56C6C"></i> {{con}}</p>
                                </el-col>
                            </el-row>
                        </div>
                    </el-card>

                    <!-- brand info card -->
                    <el-card :body-style="{padding: '20px'}" style="margin-bottom: 50px;">
                        <div slot="header">
                            <span>基于品牌的分析</span>
                        </div>
                        <el-row type="flex"  style="align-items: center; padding-bottom: 20px; margin-bottom: 20px">
                            <el-col :span="6" :offset="1" style="vertical-align: center;">
                                <img :src="'imgs/brand/' + itemInfo.brand.code + '/logo.svg'" width="200px"/>
                            </el-col>
                            <el-col :span="19" style="padding-left: 50px">
                                <h1>{{itemInfo.brand.cn}} （{{itemInfo.brand.en}}）</h1>
                                <p>{{itemInfo.brand.introduction}}</p>
                                <p style="text-align: right; font-style: italic">—— 维基百科</p>
                                <p>客户总体评分：</p>
                                <el-rate
                                        v-model="itemInfo.brand.rate"
                                        disabled
                                        show-score
                                        text-color="#ff9900"
                                        score-template="{value}"
                                        style="padding-left: 100px">
                                </el-rate>
                            </el-col>
                        </el-row>
                    </el-card>


                    <!-- detail info card -->
                    <el-card :body-style="{padding: '20px'}" v-loading="loading"  element-loading-text="正在抓取并分析评论...">
                        <div slot="header">
                            <span>基本评论的分析</span>
                        </div>
                        <div style="margin-left: 10px">
                            <el-row type="flex" style="align-items: center; padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #DCDFE6" v-for="comment in itemInfo.comments" :key="comment.feature">
                                <el-col :span="6">
                                    <p>{{comment.component}}：</p>
                                    <p style="color: #409EFF;">{{comment.feature}}</p>
                                </el-col>
                                <el-col :span="18">
                                    <el-collapse v-model="commentActiveNames">
                                        <el-collapse-item v-for="(content, index) in comment.contents" :title="content.title + '...'"  :name="index" :key="content.all">
                                            <div>{{content.all}}</div>
                                        </el-collapse-item>
                                    </el-collapse>
                                </el-col>
                            </el-row>
                            <el-button type="text" style="float: right; margin: 10px">查看更多</el-button>
                        </div>
                    </el-card>
                    <!-- end main content -->
                </el-col>
                <!--<el-col :span="7" :offset="1">-->
                    <!--<el-card>-->
                        <!--<div slot="header">-->
                            <!--<span>需求清单</span>-->
                        <!--</div>-->
                        <!--<div>-->
                           <!--&lt;!&ndash;<el-row type="flex" style="flex-direction: row; flex-wrap: wrap;">&ndash;&gt;-->
                               <!--&lt;!&ndash;<el-tag v-for="tag in fulfilledTags"&ndash;&gt;-->
                                       <!--&lt;!&ndash;:key="tag.name"&ndash;&gt;-->
                                       <!--&lt;!&ndash;closable&ndash;&gt;-->
                                       <!--&lt;!&ndash;:type="success"></el-tag>&ndash;&gt;-->
                           <!--&lt;!&ndash;</el-row>&ndash;&gt;-->
                            <!--&lt;!&ndash;<el-row type="flex"&ndash;&gt;-->
                                    <!--&lt;!&ndash;justify="space-around"&ndash;&gt;-->
                                    <!--&lt;!&ndash;v-for="tag in unfulfilledTags"&ndash;&gt;-->
                                    <!--&lt;!&ndash;:key="tag.name"></el-row>&ndash;&gt;-->
                            <!--<el-collapse v-model="activeDemandBlock">-->
                                <!--<el-collapse-item v-for="demand in demands">-->
                                    <!--<div slot="title">-->
                                        <!--{{demand.name}}：-->
                                        <!--<el-tag v-for="tag in demand.tags"-->
                                                <!--:key="tag.name"-->
                                                <!--closable></el-tag>-->
                                    <!--</div>-->
                                <!--</el-collapse-item>-->
                            <!--</el-collapse>-->
                        <!--</div>-->
                    <!--</el-card>-->
                <!--</el-col>-->
            </el-row>

        </el-main>
        <el-footer>

        </el-footer>
    </el-container>
</div>
</body>
<!-- import axios -->
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!-- import ECharts -->
<script src="echarts.js"></script>
<script th:inline="javascript">
    var app = new Vue({
        el: '#app',
        data() {
            return {
                itemId: [[${itemId}]],
                keyword: [[${keyword}]],
                inputLength: 10,
                rank: Math.ceil(Math.random()*10),
                headerInputShow: true,
                headerButtonShow: true,
                commentActiveNames: [],
                sessionInfo: {
                    sourceMarket: 'jd',
                    price: [[${price}]]
                },
                fulfilledTags: [
                    ''
                ],
                loading: true,
                itemInfo: {
                    sellerMarkets: ['jd'],
                    prices: [
                        ["04-05",[[${price}]] + Math.round(Math.random()*500)],
                        ["04-06",[[${price}]] + Math.round(Math.random()*500)],
                        ["04-07",[[${price}]] + Math.round(Math.random()*500)],
                        ["04-08",[[${price}]] + Math.round(Math.random()*500)],
                        ["04-09",[[${price}]] + Math.round(Math.random()*500)],
                        ["04-10",[[${price}]] + Math.round(Math.random()*500)],
                        ["04-11",[[${price}]] + Math.round(Math.random()*500)],
                        ["04-12",[[${price}]] + Math.round(Math.random()*500)],
                        ["04-13",[[${price}]] + Math.round(Math.random()*500)],
                        ["04-14",[[${price}]] + Math.round(Math.random()*500)],
                        ["04-15",[[${price}]] + Math.round(Math.random()*500)],
                        ["04-16",[[${price}]] + Math.round(Math.random()*500)],
                        ["04-17",[[${price}]] + Math.round(Math.random()*500)],
                        ["04-18",[[${price}]] + Math.round(Math.random()*500)],
                        ["04-19",[[${price}]] + Math.round(Math.random()*500)],
                        ["04-21", [[${price}]]]
                    ],
                    latestPrices:[
                        ["04-14",0 + Math.round(Math.random()*500)],
                        ["04-15",1 + Math.round(Math.random()*500)],
                        ["04-16",4 + Math.round(Math.random()*500)],
                        ["04-17",5 + Math.round(Math.random()*500)],
                        ["04-18",7 + Math.round(Math.random()*500)],
                        ["04-19",10 + Math.round(Math.random()*500)],
                        ["04-21",13 + Math.round(Math.random()*500)]
                    ],
                    keyFeatures: [
                        'Dolby Atmos speakers',
                        'AR Emoji',
                        'Secondary 12-megapixel telephoto camera',
                        'Snapdragon 845/Exynos 9810',
                        '6.2-inch quad-HD+ OLED display'
                    ],
                    pros: [
                        'Feels great for a big phone',
                        'The OLED display is great and highly customisable',
                        'Numerous camera features on offer'
                    ],
                    cons: [
                        'Iterative upgrade',
                        'AR Emoji are just bad',
                        'Some lag with Samsung’s software'
                    ],
                    brand: {
                        cn: '三星电子',
                        en: 'Samsung Electronics',
                        code: 'samsung_electronics',
                        introduction: '三星电子（朝鲜语：삼성전자／三星電子，英语：Samsung Electronics），三星集团子公司，韩国最大的消费电子产品及电子组件制造商，亦是全球最大的信息技术公司。2017年，三星电子在Interbrand全球品牌排行榜中名列第六位，连续第六年进入世界品牌前十强。在美国《财富》杂志2015年、2016年评选的财富世界500强排行榜中第13名。2016年，根据品牌咨询机构 Reputation Institute 调查，为美国最受尊敬科技企业第2名。',
                        rate: 3.9
                    },
                    name: {
                        cn: [[${cname}]],
                        en: '',
                        code: [[${itemCode}]],
                    },
                    basicImages: [
                        [[${primaryImage}]]
                    ],
                    comments: [
                        {
                            component: '后置摄像头',
                            feature: '凝时拍摄（960fps)',
                            contents: [
                                {
                                    title: '哈哈哈，真的时很有趣的凝时拍照，从三星',
                                    all: '哈哈哈，真的时很有趣的凝时拍照，从三星s6一直到s9+,一代比一代惊艳，像素高的真的装个后置镜头不虚相机，看我拍的水花，棒棒棒!吃鸡打王者毫无压力哈哈，听说王者和三星还有特优化，对于游戏迷来说，845不虚不虚，听音乐也炫酷，跑马灯怎么可以这么帅我去，动态萌拍适合妹子，大男人不好意思哈哈，期待三星越来越好，就是这个碎屏险，一开始没买京东的，还多花了我200去官网延保，欲哭无泪。支持三星，大爱颜值，有内涵，跟我一样帅！'
                                },
                                {
                                    title: '凝时摄影是亮点，但是对光线要求较强。 最大的收获',
                                    all: '3月15日支付尾款，16号京东就送到货了。没用刘海的全面大屏的确很爽，真机正面是市面上最好看的了，指纹锁在后面镜头下。bixby 声音比Siri 好听是真人声，辨别能力还不错，翻译文字的功能很不错，但是不能是大段的，最好是单词。手机音响效果可以，85分吧。凝时摄影是亮点，但是对光线要求较强。 最大的收获其实是三星手表Gear3, 比之前的Iwatch强太多了，的确像个手表了，App可以花钱和免费下载很多表盘，竟然还有陀飞轮，手表和手机连接简单方便。建议男士配这款手表。总之S9对比X性价比方面强不少，苹果还是强在系统上，三星硬件不差，要求双卡双待的可以考虑这款机子了。'
                                },
                                {
                                    title: '凝视拍摄很好，相机整合了二维码，翻译，实时位置，相片购物',
                                    all: '用了9年苹果，抗拒不了s9的外形型，拿到手简直就是惊艳，硬件比苹果要好很多，做工，颜值，外型，美感都无可挑剔。软件方面，刚开始对安卓系统的种种担心，全部消失。软件方面，三星优化整合的相当好，各种操作设置细节做的很好，很人性化，可玩性非常高。最深刻的感觉就是每项设置和系统自带APP，做的都比苹果要和，使用时候的视觉和美感都很好。凝视拍摄很好，相机整合了二维码，翻译，实时位置，相片购物，表情，美颜，红酒查询等等，三星pay也比苹果pay要好，除整合银行卡外，还有网络账号，指纹，虹膜，面部解锁都几乎秒开，多种选择，不会再出现苹果指纹经常按不开的尴尬，等等好多功能，不一一例举，从苹果转三星没让我失望，甩苹果是几条街一点不夸张，2个产品在我手里的感觉就像不是一个年代的东西，苹果像5年前的产品，外观，硬件，软件都不行。三星像未来的产品，科技感十足，外形，硬件，软件都完美。强烈推荐！'
                                }
                            ]
                        },
                        {
                            component: '扬声器',
                            feature: 'AKG 调教、杜比音效',
                            contents: [
                                {
                                    title: '据说音质不错，这有待后续检验',
                                    all: '随包装有akg的耳机，据说音质不错，这有待后续检验。充电器之类的配件变成黑色了，遗憾的是快充依然不给力，可能是真的因为之前的事情有点怕了吧。SIM卡拖和网上说的一样，略微有点突出，不知道是紫色会这样还是都是这样，但愿不会影响防水性能，毕竟我经常会把手机直接放水龙头下面洗。。。系统和之前的S7相比，流畅了许多，这个要点赞'
                                },
                                {
                                    title: '音质打开杜比很棒，业余听听无需音响了',
                                    all: '关注这手机很久了，发了奖金果断出售，手机系统很流畅，触感也很棒；音质打开杜比很棒，业余听听无需音响了；拍照是亮点，照片很清晰，亮度高，讨人喜欢，噪点低，双摄像头无敌了，对于爱摄影的我来说真的超级实用，春天来了，带上相机?和s9+，感觉棒棒的；'
                                }
                            ]
                        }
                    ]
                }
            }
        },
        created () {
            axios({
                url: '/getImageListByItemId',
                method: 'POST',
                params: {
                    itemId: [[${itemId}]]
                }
            })
                .then( value=> {
                    this.itemInfo.basicImages.push(...value.data.result.split("\",\""));
                    // value.data.result.split("\",\"").forEach(function (item) {
                    //     this.basicImages.push(item);
                    //     console.log(item);
                    // });
                    console.log(value.data.result);
                    console.log(app.basicImages);
                })
                .catch(function (reason) {
                    console.log(reason);
                })

        },
        computed: {
            greeting () {
                return this.greetings[Math.floor(Math.random() * this.greetings.length)]
            },
            loading () {
                return this.itemId !== '20936ea3-3355-4e94-8c01-ba7ec943338f';
            }
        },
        methods: {
            search () {
                if(app.keyword != null){
                    window.location.href = 'search?keyword=' + app.keyword;
                }
            },
            getImageList () {

            }
        }
    });



    var totalPriceChart = echarts.init(document.getElementById('totalPriceChart'));

    // 指定图表的配置项和数据
    var totalVolumeChartOption = {
        title: {
            text: '历史总销量',
            left: 'center',
            top: 20,
            textStyle: {
                fontWeight: 'normal'
            },
            top: 5
        },

        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },

        visualMap: {
            show: false,
            min: 80,
            max: 600,
            inRange: {
                colorLightness: [0, 1]
            }
        },
        series : [
            {
                name:'总销量',
                type:'pie',
                radius : '75%',
                center: ['50%', '50%'],
                data:[
                    {value:335, name:'iPhone X'},
                    {value:310, name:'Huawei \nMate 10 Pro'},
                    {value:274, name:'Galaxy S9+'},
                    {value:235, name:'iPhone 8'},
                    {value:400, name:'iPhone 8 \nPlus'}
                ].sort(function (a, b) { return a.value - b.value; }),
                roseType: 'radius',
                label: {
                    normal: {
                        textStyle: {
                            color: '#FFF',
                            distance: 2

                        },
                        position: 'inside'
                    }

                },
                labelLine: {
                    normal: {
                        lineStyle: {
                            color: '#000'
                        },
                        smooth: 0.2,
                        length: 10,
                        length2: 20
                    }
                },
                itemStyle: {
                    normal: {
                        color: '#409EFF',
                    }
                },

                animationType: 'scale',
                animationEasing: 'elasticOut',
                animationDelay: function (idx) {
                    return Math.random() * 200;
                }
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    totalPriceChart.setOption(totalVolumeChartOption);

    var priceChart = echarts.init(document.getElementById('priceChart'));

    var dateList = app.itemInfo.prices.map(function (item) {
        return item[0];
    });
    var priceList = app.itemInfo.prices.map(function (item) {
        return item[1];
    });

    priceChartOption = {

        // Make gradient line here

        title: {
            left: 'center',
            text: '近期价格走势',
            textStyle: {
                fontWeight: 'normal',

            }
        },
        tooltip: {
            trigger: 'axis'
        },
        xAxis: {
            data: dateList
        },
        yAxis: {
            splitLine: {show: false}
        },

        series: {
            type: 'line',
            showSymbol: false,
            data: priceList
        }
    };
    priceChart.setOption(priceChartOption);



    var latestPriceChart = echarts.init(document.getElementById('latestPriceChart'));

    var latestDateList = app.itemInfo.latestPrices.map(function (item) {
        return item[0];
    });
    var latestPriceList = app.itemInfo.latestPrices.map(function (item) {
        return item[1];
    });

    latestPriceChartOption = {

        // Make gradient line here

        title: {
            left: 'center',
            text: '近期销量',
            textStyle: {
                fontWeight: 'normal'
            },
            top: 5
        },
        tooltip: {
            trigger: 'axis'
        },
        xAxis: {
            data: latestDateList
        },
        yAxis: {
            splitLine: {show: false},
            min: 0
        },

        series: {
            type: 'line',
            showSymbol: false,
            data: latestPriceList,
            itemStyle: {
                normal: {
                    color: '#409EFF',
                }
            }
        }
    };
    latestPriceChart.setOption(latestPriceChartOption);
</script>
</html>